<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616008436968-vhll3h4vhmve5857bemj3r66lfk7fv41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616008436968-vhll3h4vhmve5857bemj3r66lfk7fv41</string>
	<key>API_KEY</key>
	<string>AIzaSyAo_MP3pUnEkyHQTBBvx8VIMxEWDD_pKSE</string>
	<key>GCM_SENDER_ID</key>
	<string>616008436968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoSpeedZones</string>
	<key>PROJECT_ID</key>
	<string>fir-speed-zones</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-speed-zones.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616008436968:ios:4bdd2ef1d925e9bb364d5d</string>
</dict>
</plist>